mixin box(type, title, author, contentinfo, score)
  a.box(class=type.replace(' ', '-'), href='./player.html', 
        style='background-image:url(http://img28.fansshare.com/photos/billmurray/bill-murray-vn-ig-wallpaper-1227796185.jpg)')
    span.type= type
    .in
      header.heading
        h1.title= title
        span.author= 'by ' + author
      .content
        p
          | Latinadicunt contemnere. in quibus hoc primum est in quo 
          | admirer, cur in idque libenter crebis gravissimis rebus…
        i.icon-play
        p.contentinfo
          | 93 min - Societe - Culture - 12437 vues
    .score
      - var scoreitems = [];
      - for (var i = 0; i < score; i++) { scoreitems.push(i); }
      each item in scoreitems
        i.icon-spice

mixin boxsmall(type, title, score)
  a.box.box-small(class=type.replace(' ', '-'), href='./player.html',
        style='background-image:url(http://assets.hightimes.com/groundhog-day-bill-murray.jpg)')
    .in
      span.type= type
      header.heading
        h1.title= title
      .score
        - var scoreitems = [];
        - for (var i = 0; i < score; i++) { scoreitems.push(i); }
        each item in scoreitems
          i.icon-spice

mixin pagination(count, className)
  .pagination.b-space(class=className)
    a.icon-chevron-left.disabled
    a.icon-chevron-right(href='#')
    span.pages
      - var pages = [];
      - for (var i = 0; i < count; i++) { pages.push(i); }
      each page in pages
        if (page === 0)
          span.active= page+1
        else
          a(href='#')= page+1
